:root {
  --reg-font-family: Helvetica;

  --beige-bg: #F8F5EF;
  --logo: #7D7373;

  --beige-text: #7D7373;
  --dark-text: #3D3D3D;
  --light-text: #676A6C;

  --mid-orange: #E2725B;
  --light-orange: #E9AEA2;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.homepageSearchBar {
  display: flex;
  align-items: center;
  border-radius: 40px;
  height: 30px;
  margin-top: 5px;
  padding-right: 10px;
  background-color: white;
}

.homepageInput {
    width: 100%;
    border: none;
    border-radius: 20px;
    border-radius: 20px;
    height: 100%;
    padding: 0px 30px 0px 30px;
    color: var(--dark-text);
    font-family: var(--reg-font-family);
    font-size: 18px;

}

.button {
    background-color: transparent;
    border: none;
    width: 25px;
    border-radius: 20px;
}

.listingsDisplay {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 50vh;
    justify-content: center; /*delete this if not necessary*/
}


.product {
    margin: 20px;
    width: 200px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.productSeller {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.productBottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  align-self: end;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  margin-top: 5px;
}

h4 {
  font-family: var(--reg-font-family);
  font-weight: 400;
  font-size: 15px;
}

h5 {
  font-family: var(--reg-font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--light-text);
}

.search {
  font-family: var(--reg-font-family);
  color: var(--dark-text);
  font-size: 15px;
  margin-top: 15px;
}

.shoppingHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: var(--dark-text);
  border-width: 1px;
  border-radius: 20px;
  height: 30px;
  padding: 0px 30px 0px 30px;
  margin-top: 5px;

  font-family: var(--reg-font-family);
  color: var(--dark-text);
  font-size: 16px;
  margin-top: 5px;
  font-weight: 00;
}

.categoriesContainer {
  display: flex;
  height: 50px;
  margin-top: 5px;
}

.categoriesDisplay {
  display: flex;
  overflow-x: scroll;
  /*justify-content: center; delete this if not necessary*/
}

/*the following supposed to make sure scroll bar is seen at all times
  but apparently this method doesn't work anymore since 2021 idk what to do
*/
.categoriesDisplay ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.categoriesDisplay ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
/*scrollbar:done*/

.category {
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: var(--dark-text);
  color: var(--dark-text);
  border-width: 1px;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 0px;
}

.category_selected {
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  background: var(--dark-text);
  color: white;
  border-width: 1px;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 0px;
}

.category:hover {
  background: var(--dark-text);
  color: white;
}

img {

}

img.productImg {
  width:100%;
  height:100%;
}

.productImg {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 120px;
  border-radius: 10px;
  object-fit: fill;
}

.btn {
  height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* button like effects*/
.btn:link {
    text-transform: uppercase;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    
}

.btn:hover {
  background-color: rgba(239, 114, 97, 0.575);
  height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  background-color: #E9AEA2;
  height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn:visited {
  background-color: #E9AEA2;
  height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
