:root {
  --reg-font-family: Helvetica;

  --beige-bg: #F8F5EF;
  --logo: #7D7373;

  --beige-text: #7D7373;
  --dark-text: #3D3D3D;
  --light-text: #676A6C;

  --mid-orange: #E2725B;
  --light-orange: #E9AEA2;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.homepageSearchBar {
  display: flex;
  align-items: center;
  border-radius: 40px;
  height: 30px;
  margin-top: 5px;
  padding-right: 10px;
  background-color: white;
}

.homepageInput {
    width: 100%;
    border: none;
    border-radius: 20px;
    border-radius: 20px;
    height: 100%;
    padding: 0px 30px 0px 30px;
    color: var(--dark-text);
    font-family: var(--reg-font-family);
    font-size: 18px;

}

.button {
    background-color: transparent;
    border: none;
    width: 25px;
    border-radius: 20px;
}

.rowListingsDisplay {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 310px;
  justify-content: flex-start; /*delete this if not necessary*/
}

.listingsDisplay {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.sellersDisplay {
  display: grid;
  row-gap: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center; /*delete this if not necessary*/
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	top:260px;
	left:40px;
	background-color: var(--mid-orange);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
	box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}

.my-float{
	margin-top:22px;
}

.productsDisplay {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 80vh;
  justify-content: center; /*delete this if not necessary*/
}

.postsDisplay {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height:80vh;
  margin: auto;
  width: 550px;
}



.product {
    margin: 20px;
    width: 200px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.homepageProduct {
  margin: 20px;
  width: 200px;
  height: 280px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.homepageProductContent {
  color: var(--dark-text);
  height: 198px;
}

.productSeller {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.productContent {
  color: var(--dark-text);
  height: 168px;
}

.productBottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  align-self: end;
}



h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  margin-top: 5px;
}

.productName {
  overflow: hidden;
white-space: nowrap; /* Don't forget this one */
text-overflow: ellipsis;
}

h4 {
  font-family: var(--reg-font-family);
  font-weight: 400;
  font-size: 15px;
}

h5 {
  font-family: var(--reg-font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--light-text);
  display: -webkit-box;
  /*cuts lines off after 2 lines*/
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.search {
  font-family: var(--reg-font-family);
  color: var(--dark-text);
  font-size: 15px;
  margin-top: 15px;
}

.shoppingHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: var(--dark-text);
  border-width: 1px;
  border-radius: 20px;
  height: 30px;
  padding: 0px 30px 0px 30px;
  margin-top: 5px;

  font-family: var(--reg-font-family);
  color: var(--dark-text);
  font-size: 16px;
  margin-top: 5px;
  font-weight: 00;
}

.altShoppingHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-color: var(--dark-text);
  border-width: 1px;
  border-radius: 20px;
  height: 30px;
  padding: 0px 30px 0px 30px;
  margin-top: 5px;

  font-family: var(--reg-font-family);
  color: var(--dark-text);
  font-size: 16px;
  margin-top: 5px;
  font-weight: 00;
}

.shoppingHeaderLink {
  font-family: var(--reg-font-family);
  color: var(--dark-text);
  font-size: 16px;
  font-weight: 00;
  cursor: pointer;
}

.shoppingHeaderLink:hover {
  font-family: var(--reg-font-family);
  font-size: 16px;
  font-weight: 00;
  cursor: pointer;
  text-decoration: underline;
}

.forumHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  height: 32px;
  padding: 0px 30px 0px 30px;
  margin-top: 5px;
width:100%;
  font-family: var(--reg-font-family);
  color: var(--beige-bg);
  font-size: 18px;
  margin-top: 5px;
  font-weight: 00;
  background-color: var(--dark-text);
}

.homepageProfilePhoto {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #3D3D3D;
  object-fit: cover;
  overflow: hidden;
}

.categoriesContainer {
  display: flex;
  height: 50px;
  margin-top: 5px;
}

.categoriesDisplay {
  display: flex;
  overflow-x: scroll;
  /*justify-content: center; delete this if not necessary*/
}

/*the following supposed to make sure scroll bar is seen at all times
  but apparently this method doesn't work anymore since 2021 idk what to do
*/
.categoriesDisplay ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.categoriesDisplay ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
/*scrollbar:done*/

.category {
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: var(--dark-text);
  color: var(--dark-text);
  border-width: 1px;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 0px;
}

.category_selected {
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  background: var(--dark-text);
  color: white;
  border-width: 1px;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 0px;
}

.category:hover {
  background: var(--dark-text);
  color: white;
}

img {

}

img.productImg {
  width:100%;
  height:100%;

}

img.homepageProfilePhotoImg {
  width:100%;
  height:100%;
}

img.homepageProfilePhotoImg2 {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit:contain;
    background-color: #FFF;
}

img.heartBreakIcon {
  width:60%;
  height:60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.productImg {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5px;
  width: 180px;
  height: 95px;
  border-radius: 10px;
  object-fit: fill;
}

.heartBreakIcon {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* button like effects*/
.btn:link {
    text-transform: uppercase;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;

}

.btn:hover {
  background-color: rgba(239, 114, 97, 0.575);
  height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  background-color: #E9AEA2;
  height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn:visited {
  background-color: #E9AEA2;
  height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.postCard {
  width: 500px;
  height: 250px;
  margin:20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
}

.postCardHeader {
  width: 100%;
  height: 50px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
}

.postCardDetails {
  cursor: pointer;
}

.postCardContentGrid {
  display: grid;
  grid-template-columns: 40% 1fr;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}

.postCardContentGrid_left {
  background-color: rgb(210, 210, 210);
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
  overflow: hidden;
  object-fit: cover;
}

.postCardContentGrid_right {
  padding: 10px;
}

.postCardFooter {
  width: 280px;
  height: 50px;
  padding: 10px 10px 0px 10px;
  position: absolute;
  bottom: 0;
}

.sellerCard {
  width: 500px;
  height: 150px;
  margin:20px;
  border-radius: 75px 10px 10px 75px;
  background-color: white;
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
}

.sellerCardHeader {
  width: 100%;
  height: 50px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
}

.sellerCardDetails {
  cursor: pointer;
}

.sellerCardContentGrid {
  display: grid;
  grid-template-columns: 170px 1fr;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sellerCardContentGrid_left {
  background-color: rgb(210, 210, 210);
  border-radius: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
  overflow: hidden;
  object-fit: cover;
  width: 150px
}

.sellerCardContentGrid_right {
  padding: 10px;
}

.sellerCardFooter {
  width: 280px;
  height: 50px;
  padding: 10px 10px 0px 10px;
  position: absolute;
  bottom: 0;
}

.sliderContainer {
  width: 100%;
  height:400px;
  color: (--beige-bg);
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}
