/NetBeansProjects/BakeItEasy/nbproject/private/
/NetBeansProjects/BakeItEasy/BakeItEasy-war/nbproject/private/
/NetBeansProjects/BakeItEasy/BakeItEasy-ejb/nbproject/private/
/NetBeansProjects/BakeItEasy/build/
/NetBeansProjects/BakeItEasy/BakeItEasy-war/build/
/NetBeansProjects/BakeItEasy/BakeItEasy-ejb/build/
/NetBeansProjects/BakeItEasy/BakeItEasy-ejb/dist/
/NetBeansProjects/BakeItEasy/BakeItEasy-war/dist/
/NetBeansProjects/BakeItEasy/dist/
