.sellerOrderCard {
    background: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin:auto;
    border-radius: 5px;
    overflow: hidden;
}

.sellerOrderCardBodyFlex {
    display: flex;
    align-items: flex-start;

}

.sellerOrderCardBodyNormal {

}

.sellerOrderCardHeader {
    display: flex;
    align-items: flex-start;
}

.buyerName {
    font-size:large;
    justify-content: top;
    padding-left: 10px;
}

.cardTitle {
color: blue;
}
